@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.w-60.h-auto.flex.items-center.justify-center.relative {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fill-black {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  /* Set the desired font family, size, and other text styles here */
}

.backgroundImage {
  background-image: repeating-radial-gradient(rgba(0, 0, 0, 0.4) 2px, rgba(90, 90, 90, 0) 5px 100px);
  /* Add other styles as needed */
}

.custom-grid {
  grid-template-columns: repeat(2, minmax(0, 0.4fr)) minmax(0, 0.1fr);
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh);
  width: 100%;
}

.translate-z-0 {
  transform: translateZ(0);
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(66 133 244 / var(--tw-text-opacity));
}

.hover\:text-blue:hover {
  --tw-text-opacity: 1;
  color: rgb(66 133 244 / var(--tw-text-opacity));
}

.skills-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.skills {
  position: relative;
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin: 0 auto;
  width: 90%;
}
.skill-bar-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #3e4555;
  border-radius: 2px;
  height: 30px;
  margin-bottom: 10px;
}
.skill-bar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 30px;
  background-color: #4285F4;
  border-radius: 2px 0px 0px 2px;
}

.contact-form {
  margin: 40px auto 0 auto;
  width: 100%;
  max-width: 500px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.email-success {
  font-family: 'Roboto', sans-serif; /* Use a modern sans-serif font */
    font-size: 18px; /* Adjust the font size as needed */
    color: #ffffff; /* Set a futuristic color (e.g., green) */
    text-align: center; /* Center the text */
    padding: 10px; /* Add some padding for spacing */
    font-weight: 600;
    background: #3e4555; /* Set a dark background color */
    border-radius: 8px; /* Add rounded corners for a modern look */
    box-shadow: 0 0 10px rgba(66, 133, 244, 0.5); /* Add a subtle glow effect */
    margin-top: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 30px #3b4353 inset !important;
  caret-color: white;
}
